.Shop{
    margin: 8px;
}

.pro{
    padding:0;
    margin: 0;
    font-size: xx-large;
}

.productBar{
    display: flex;
    align-items: center;
}

.addIcon{
    margin-left: 5px;
    border-style: solid;
    border-color: black;
}