.loginForm {
    display:flex;

    justify-content: center;
    flex-direction: column;

    border-radius: 7px;
    background-color: #f2f2f2;
    padding: 15px;

    margin: 35px auto;
    max-width: 350px;
    font-family: sans-serif;
}

.loginForm label{
    font-size: 20px;
    margin: 10px auto;
}

.loginForm input{
    width: inherit;
    border: 2px solid #ccc;
    padding: 12px 10px;
    margin: 8px;
    border-radius: 4px;
}

.loginForm button{
    background-color: #457B9D;
    color: white;
    width: 60%;
    border: 2px solid #ccc;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto;
}

.loginTest {
    display:flex;

    justify-content: center;
    flex-direction: column;

    margin: 0px auto;
    min-width: 350px;
    font-family: sans-serif;
}